.navBar {
  display: flex;
  justify-content: flex-end;
}

.list {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.item {
  margin: 2em;
} 

.item a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.item a:hover {
  color: rgb(255, 255, 255);
}

.navBarColor {
  color: rgb(255, 255, 255);
}
